services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  waha:
    restart: always
    image: devlikeapro/waha:latest

    dns:
      - 1.1.1.1
      - 8.8.8.8

    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '10'

    ports:
      - '3000:3000/tcp'

    volumes:
      - './waha/sessions:/app/.sessions'
      - './waha/media:/app/.media'

    env_file:
      - .env
